@tailwind base;
@tailwind components;
@tailwind utilities;

.thumbs-wrapper {
    display: flex;
    justify-content: center;
}

.dark {
    background-color: #252422;
    color: #fff;
}



/**
* 161a1d
* 252422
* 2b2d42 
* 22223b
* 023047
* 1d3557
* 
* 
**/