@tailwind base;
@tailwind components;
@tailwind utilities;

.thumbs-wrapper  {
    display: none;
}


.control-dots {
    display: none;
}

.dark {
    background-color: #161a1d;
    color: #fff;
}


/**
* 161a1d
* 252422
* 2b2d42 
* 22223b
* 023047
* 1d3557
* 
* 
**/